/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #ffc2e6;
  /* Цвета текста и акцентов */
  --text-color: #353430;
  --accented-title-color: #ffc2e6;
  --decor-text-color: #353430;
  --title-color: #353430;
  --accent-color: #ff8dcb;
  --border-color: #353430;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --shadow-color: #ff8dcb;
  /* Фон и подложки */
  --decor-bg-color: #ff8dcb;
  /* Отображение элемента rec */
  --header-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: #ffc2e6;
    /* Цвета текста и акцентов */
    --text-color: #353430;
    --accented-title-color: #ffc2e6;
    --decor-text-color: #353430;
    --title-color: #353430;
    --accent-color: #ff8dcb;
    --border-color: #353430;
    --hover-border-color: rgba(50, 49, 45, 0.4);
    --shadow-color: #ff8dcb;
    /* Фон и подложки */
    --decor-bg-color: #ff8dcb;
    /* Отображение элемента rec */
    --header-rec: none;
  }
}
