/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page-bg-image);
  background-color: var(--page-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-block-size: 100dvb;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 100vh;
  min-block-size: 768px;
  padding: var(--default-inline-padding);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  appearance: none;
  background: transparent;
  border: 1px solid transparent;
  color: var(--border-color);
  padding: 0px 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.decorated-zone::before {
  inset-block-start: 20px;
  inset-inline-end: 20px;
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
}

.decorated-zone::after {
  inset-block-end: 20px;
  inset-inline-start: 20px;
  border-block-end: 1px solid var(--border-color);
  border-inline-start: 1px solid var(--border-color);
}

.header__rec {
  display: var(--header-rec);
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 31px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: var(--accent-color);
  font-weight: var(--regular-font-weight);
  line-height: 1.39;
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 8px;
  border-radius: 100%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-inline-start: -20px;
}

.title-decor {
  color: var(--decor-text-color);
  background-color: var(--decor-bg-color);
  line-height: var(--default-line-height);
  font-weight: var(--bold-font-weight);
}

.header__description-container {
  justify-self: end;
  inline-size: fit-content;
  width: 50%;
  background-color: var(--accent-color);
}

.section-reasons {
  grid-template-columns: 315px 1fr;
  margin-block-start: 60px;
}

.section {
  display: grid;
  gap: 20px;
  padding-inline: var(--default-inline-padding);
  margin-block-end: var(--default-margin-block-end);
}

.title {
  color: var(--title-color);
  font-weight: var(--bold-font-weight);
  font-size: inherit;
  line-height: var(--default-line-height);
}

.section__cards {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__text {
  line-height: var(--default-line-height);
  font-weight: var(--regular-font-weight);
  color: var(--text-color);
}

.card__link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  border-block-end: 1px solid transparent;
}

.card__link:hover {
  border-block-end-color: currentColor;
}
.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  border: 1px solid currentColor;
}

.section-obstacles {
  grid-template-columns: 315px 1fr 1fr;
  grid-auto-rows: auto;
  align-items: start;
}

.section-obstacles__title {
  grid-column: 1;
  grid-row: 1;
}

.section-obstacles .section__cards {
  display: contents;
}

.section-obstacles .card:nth-child(1) {
  grid-column: 1;
  grid-row: 2;
}
.section-obstacles .card:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}
.section-obstacles .card:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
}

.section-tips {
  grid-template-columns: 315px 1fr;
}

.wrapper {
  grid-column: 2;
}

.wrapper-title {
  margin-block-end: 20px;
}

.thin {
  font-weight: var(--regular-font-weight);
}

.section-gallery {
  margin-block-end: 60px;
}

.gallery {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "sunset sunset ice"
    "tape books ice"
    "tape street street";
}

.gallery__item:nth-child(1) {
  grid-area: sunset;
}
.gallery__item:nth-child(2) {
  grid-area: ice;
}
.gallery__item:nth-child(3) {
  grid-area: tape;
}
.gallery__item:nth-child(4) {
  grid-area: books;
}
.gallery__item:nth-child(5) {
  grid-area: street;
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 768px;
  padding: var(--default-inline-padding);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.accented {
  line-height: var(--accented-title-line-height);
  color: var(--accented-title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

@media (width >= 768px) and (width < 1024px) {
  .header {
    min-block-size: 1024px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 12px;
  }

  .section-reasons,
  .section-tips {
    grid-template-columns: 236px 1fr;
  }

  .section-obstacles {
    grid-template-columns: 236px;
    grid-template-rows: repeat(3, auto);
  }

  .section-obstacles__title {
    max-width: 236px;
  }

  .section-obstacles .section__cards {
    display: contents;
  }

  .section-obstacles .card:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .section-obstacles .card:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .section-obstacles .card:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
}

@media (width >= 375px) and (width < 768px) {
  .header,
  .footer {
    min-block-size: 668px;
    padding: 10px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 9px;
  }

  .header__theme-menu-button {
    padding: 1px 13px;
  }

  .header__rec {
    inset-block-start: 11px;
    inset-inline-end: 21px;
  }

  .decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }

  .header__title {
    margin-inline-start: 0px;
  }

  .accented {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__description-container {
    width: 100%;
  }

  .section {
    grid-template-columns: 1fr;
    padding-inline: 10px;
    margin-block-end: 50px;
  }

  .section-reasons {
    margin-block-start: 40px;
  }

  .section-obstacles.section .card {
    grid-column: auto;
    grid-row: auto;
  }

  .wrapper {
    grid-column: 1;
  }

  .section-gallery {
    margin-block-end: 40px;
    gap: 10px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: none;
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  .gallery__item:nth-child(1),
  .gallery__item:nth-child(2),
  .gallery__item:nth-child(3),
  .gallery__item:nth-child(4),
  .gallery__item:nth-child(5) {
    grid-area: auto;
    grid-column: 1 / -1;
  }
}
